.header__nav {
	float: right;
	height: 26px;
	background: $grey-200;
	padding-bottom: 1px;
	padding-right: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	transition: background 0ms $easeInOut 200ms;

	.dialog-is-visible & {
		background: transparent;
		transition: background 0ms $easeInOut 0ms;
	}

	ul { height: 24px; }

	li {
		float: left;
		list-style: none;
		margin-left: 24px;
		line-height: 24px;
	}

	svg-icon:not([color="white"]) { 
		opacity: .6;
		transition: all 150ms $easeInOut;

		.dialog-is-visible & { 
			opacity: .2;
			cursor: not-allowed; 
		}
	}
}