@charset "UTF-8";
/* UTILS */
/* UTILITIES */
/** HELPERS ==============================  Clearfix hack for modern browsers 1. The space content is one way to avoid an Opera bug when the contenteditable attribute is included anywhere else in the document. Otherwise it causes space to appear at the top and bottom of elements that are clearfixed. 2. The use of "table" rather than "block" is only necessary if using ":before" to contain the top-margins of child elements. */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/** Floating helpers used in combination with clearfix. */
.left { float: left; }

.right { float: right; }

/** FUNCTIONS ==============================  This function is usefull in combination with z-index and lists. It checks that we are requesting something that exists in the list. If the value exists,  then it returns the result of the index call, just like before. If the value does not exist,  then two things happen: 	1. A warning is printed telling you that the item you’re requesting is not in the list,  	and the values of the list are printed so that you can see what to choose from. 	2. The value returned is null, which tells Sass not to print out the rule at all. */
/** MIXINS ==============================  Cross-browser support for @font-face.  Supports IE, Gecko, Webkit, Opera. Usage: @include font-face($family, $files, [$weight], [$style]); */
/* GLOBALS */
/* GLOBALS */
/*!
 * normalize.css v3.0.1
 * Sassified and customised by @morkroge
 *
 * @license: MIT License
 * @source: git.io/normalize
 * ==============================
 */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

/** Remove default margin. */
body { margin: 0; }

/** Correct 'block' display not defined for any HTML5 element in IE 8/9. Correct 'block' display not defined for 'details' or 'summary' in IE 10/11 and Firefox. Correct 'block' display not defined for 'main' in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** 1. Correct 'inline-block' display not defined in IE 8/9. 2. Normalize vertical alignment of 'progress' in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

/** Prevent modern browsers from displaying 'audio' without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address '[hidden]' styling not present in IE 8/9/10. Hide the 'template' element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/** 1. Remove the gray background color from active links in IE 10. 2. Improve readability when focused and also mouse hovered in all browsers. */
a { background: transparent; }
a:active, a:hover { outline: 0; }

/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to 'bolder' in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable 'h1' font-size and margin within 'section' and 'article' contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent 'sub' and 'sup' affecting 'line-height' in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/** Remove border when inside 'a' element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd 'em'-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of 'select', unless a 'border' property is set. 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

/** Address 'overflow' set to 'hidden' in IE 8/9/10/11. 1. Prevent bolder font rendering in Chrome. */
button { overflow: visible; backface-visibility: hidden; -webkit-font-smoothing: inherit; }

/** Address inconsistent 'text-transform' inheritance for 'button' and 'select'. All other form control elements do not inherit 'text-transform' values. Correct 'button' style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct 'select' style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0. * where (2) destroys native 'audio' and 'video' controls. 2. Correct inability to style clickable 'input' types in iOS. 3. Improve usability and consistency of cursor style between image-type 'input' and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting 'line-height' on 'input' using '!important' in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to 'content-box' in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain 'font-size' values of the 'input', it causes the cursor style of the decrement button to change from 'default' to 'text'. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address 'appearance' set to 'searchfield' in Safari and Chrome. 2. Address 'box-sizing' set to 'border-box' in Safari and Chrome (include '-moz' to future-proof). */
input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and 'textfield' appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct 'color' not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; padding: 0; }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the 'font-weight' (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/** Z-INDEX */
/** COLORS */
/** FONT-FACE */
@font-face { font-family: "Roboto"; src: url("../assets/fonts/Roboto-Thin.ttf") format('truetype'); font-weight: 100; }
@font-face { font-family: "Roboto"; src: url("../assets/fonts/Roboto-ThinItalic.ttf") format('truetype'); font-weight: 100; font-style: italic; }
@font-face { font-family: "Roboto"; src: url("../assets/fonts/Roboto-Light.ttf") format('truetype'); font-weight: 200; }
@font-face { font-family: "Roboto"; src: url("../assets/fonts/Roboto-LightItalic.ttf") format('truetype'); font-weight: 200; font-style: italic; }
@font-face { font-family: "Roboto"; src: url("../assets/fonts/Roboto-Regular.ttf") format('truetype'); font-weight: 300; }
@font-face { font-family: "Roboto"; src: url("../assets/fonts/Roboto-Medium.ttf") format('truetype'); font-weight: 400; }
@font-face { font-family: "Roboto"; src: url("../assets/fonts/Roboto-MediumItalic.ttf") format('truetype'); font-weight: 400; font-style: italic; }
@font-face { font-family: "Roboto"; src: url("../assets/fonts/Roboto-Bold.ttf") format('truetype'); font-weight: 500; }
@font-face { font-family: "Roboto"; src: url("../assets/fonts/Roboto-BoldItalic.ttf") format('truetype'); font-weight: 500; font-style: italic; }
@font-face { font-family: "Roboto"; src: url("../assets/fonts/Roboto-Black.ttf") format('truetype'); font-weight: 600; }
@font-face { font-family: "Roboto"; src: url("../assets/fonts/Roboto-BlackItalic.ttf") format('truetype'); font-weight: 600; font-style: italic; }
/** FONT-FAMILY VARIABLES  Usage: Overall font-family. */
/** MEDIA QUERIES */
/** PAGE SETTINGS */
/** General margins/paddings */
/** Shadows */
/** TRANSITIONS ============================== */
/** SYSTEM ==============================  General */
* { box-sizing: border-box; margin: 0; padding: 0; }

html { background: #eeeeee; height: 100%; }

body { font-family: "Roboto", "Myriad Pro", Myriad, Arial, sans-serif; font-weight: 300; color: #000000; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/** Headlines */
h1, h2, h3, h4, h5, h6 { font-weight: 300; margin: 0px; }

h1 { font-size: 24px; }

h2 { font-size: 20px; }

h3 { font-size: 18px; }

h4 { font-weight: 400; font-size: 15px; }

/** Links */
a { font-size: 15px; text-decoration: none; }

/** Copy */
p, span { font-weight: 300; line-height: 24px; font-size: 15px; }

b, strong { font-weight: 400; }

/** Images This is experimental and not fully supported in most browsers. Anyway, I want to test this feature. */
img[src$=".jpg"], img[src$=".png"] { image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; }

/** Forms */
label { cursor: pointer; position: relative; transition: all 150ms ease-in-out; }

input[type="checkbox"] { margin-right: 20px; visibility: hidden; }
input[type="checkbox"] + label:before { content: ""; position: absolute; width: 14px; height: 14px; left: -40px; top: 1px; color: #ffffff; border: 2px solid #616161; border-radius: 2px; background: white; font-size: 14px; line-height: 14px; transition: all 150ms ease-in-out; }
input[type="checkbox"][disabled] + label { color: #bdbdbd; }
input[type="checkbox"][disabled] + label:before { border-color: #bdbdbd; }
input[type="checkbox"]:checked + label:before { content: "✔"; padding-left: 1px; width: 13px; border-color: #009688; background: #009688; }

.theme-blue-a400 .btn--round { background-color: #f44336; }
.theme-blue-a400 .btn--round:hover { background-color: #e53935; }
.theme-blue-a400 a { color: #2979ff; }
.theme-blue-a400 .colored-bg { background: #f44336; }

.theme-indigo-400 .btn--round { background-color: #e91e63; }
.theme-indigo-400 .btn--round:hover { background-color: #d81b60; }
.theme-indigo-400 a { color: #5c6bc0; }
.theme-indigo-400 .colored-bg { background: #e91e63; }

.theme-teal-400 .btn--round { background-color: #e91e63; }
.theme-teal-400 .btn--round:hover { background-color: #d81b60; }
.theme-teal-400 a { color: #26a69a; }
.theme-teal-400 .colored-bg { background: #e91e63; }

.theme-pink-400 .btn--round { background-color: #00bcd4; }
.theme-pink-400 .btn--round:hover { background-color: #00acc1; }
.theme-pink-400 a { color: #ec407a; }
.theme-pink-400 .colored-bg { background: #00bcd4; }

.theme-red .btn--round { background-color: #2979ff; }
.theme-red .btn--round:hover { background-color: #2979ff; }
.theme-red a { color: #f44336; }
.theme-red .colored-bg { background: #2979ff; }

@keyframes fadeInOverlay { 0% { display: none; opacity: 0; }
  1% { display: block; opacity: 0; }
  100% { display: block; opacity: 1; } }
/* COMPONENTS */
/* BUTTONS */
.btn { background: transparent; border: none; padding: 0; display: inline-block; text-transform: uppercase; transition: all 150ms ease-in-out; font-size: 14px; font-weight: 400; position: relative; }
.btn:focus { outline: none; }
.btn svg { fill: #ffffff; }

.btn--fx:before { content: ""; position: absolute; background: rgba(0, 0, 0, 0.2); opacity: 0; border-radius: 50%; top: 50%; left: 50%; width: 42px; height: 42px; transform: translate(-51%, -54%); transition: opacity 150ms ease-in-out; }
.btn--fx:active:before { transition: opacity 150ms ease-in-out; opacity: 1; }

.btn--round { border-radius: 50%; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.48); padding: 14px 16px; }
.btn--round svg { fill: #ffffff; }

.btn--text { padding: 5px 10px; border-radius: 2px; }
.btn--text:hover { background: rgba(0, 0, 0, 0.1); }

/* DIALOG */
#brow__overlay { width: 100%; height: 100%; position: fixed; z-index: 4; top: 0; bottom: 0; left: 0; right: 0; background: rgba(10, 10, 10, 0.6); display: none; opacity: 0; animation-name: fadeInOverlay; animation-duration: 150ms; animation-fill-mode: forwards; animation-timing-function: ease-in-out; }
#brow__overlay.show { opacity: 1; display: block; }

#brow__dialog { position: absolute; z-index: 5; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; overflow: hidden; align-items: center; justify-content: center; display: none; }
#brow__dialog.show { display: flex; }
#brow__dialog.show .dialog__inner { animation-name: animateDialogInView; animation-duration: 150ms; animation-timing-function: ease-in-out; animation-fill-mode: forwards; }

.dialog__inner { position: relative; background: white; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24); border-radius: 2px; width: 65vw; height: 80vh; min-height: 300px; overflow: hidden; }
.dialog__inner.module { padding: 0; }
.dialog__inner .dialog__sidebar, .dialog__inner .dialog__content { height: calc(100% - 60px); }

/** ANIMATION */
@keyframes animateDialogInView { 0% { display: none; opacity: 0; transform: translateY(25px); }
  1% { display: block; opacity: 0; transform: translateY(25px); }
  100% { display: block; opacity: 1; transform: translateY(0); } }
.dialog__heading { padding: 20px; width: 100%; color: #ffffff; box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3); position: relative; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; }
.dialog__heading h1 { font-weight: 400; }
.dialog__heading button { align-self: center; }

.dialog__sidebar { border-right: 1px solid #e0e0e0; }

.dialog__sidebar__list { list-style: none; }
.dialog__sidebar__list a { display: block; width: 100%; padding: 15px 20px; transition: all 150ms ease-in-out; }
.dialog__sidebar__list a:hover { background: #eeeeee; }
.dialog__sidebar__list a.active { color: #000000; cursor: default; }
.dialog__sidebar__list a.active:hover { background: rgba(0, 0, 0, 0.025); }

.dialog__content { padding: 20px; overflow-y: auto; }
.dialog__content h2 { margin-bottom: 20px; }
.dialog__content span { font-style: italic; color: #9e9e9e; }
.dialog__content section:not(:last-of-type) { margin-bottom: 40px; }
.dialog__content a:hover { text-decoration: underline; }

.dialog__block { display: flex; }
.dialog__block > section { flex-basis: 50%; }

/* Cards */
.brow__content__module { position: relative; z-index: 1; transition: box-shadow 150ms ease-in-out; }
.brow__content__module.fx { transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out; }
.brow__content__module:hover { z-index: 2; }
.brow__content__module.is-edit { z-index: 4; transform: translateY(-5px); box-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48); }
.brow__content__module.is-dragging { z-index: 4; box-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48); cursor: -webkit-grabbing; }
.brow__content__module.is-delete { transition: opacity 150ms ease-in-out, transform 150ms ease-in-out 150ms; transform: scale(0); }
.brow__content__module.is-delete > * { opacity: 0; }

.module--longshadow { box-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48); }

/** ANIMATION */
@keyframes cardSlideIn { from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); } }
/* TOOLTIPS */
/* TOOLTIP */
[data-tooltip]:before { opacity: 0; display: block; content: attr(data-tooltip); text-align: center; width: 100%; height: 24px; position: absolute; left: 50%; background: rgba(0, 0, 0, 0.54); border-radius: 2px; color: white; line-height: 22px; text-transform: initial; font-size: 14px; transition: opacity 150ms ease-in-out 0s; }
[data-tooltip]:hover:before { opacity: 1; transition: opacity 150ms ease-in-out 500ms; }

[data-tooltip-pos="top"]:before { top: 0; transform: translateX(-50%) translateY(-120%); }

[data-tooltip-pos="bottom"]:before { bottom: 0; transform: translateX(-50%) translateY(120%); }

/* LAYOUT */
/* HEADER */
#brow__header { width: 100%; height: 60px; position: fixed; top: 0; padding: 16px; z-index: 3; color: #616161; }

.header__timer { float: right; }
.header__timer h1 { line-height: 26px; text-align: center; }

.header__nav { float: right; }
.header__nav li { float: left; list-style: none; margin-left: 20px; }
.header__nav brow-icon { opacity: .6; transition: all 150ms ease-in-out; }

/* CONTENT */
#brow__content { position: relative; max-width: 1280px; padding: 0; width: 90%; height: auto; margin: 60px auto; transition: width 150ms ease-in-out; z-index: 1; }

.brow__content--gutter { width: 2%; }

.brow__content__module, .brow__content--sizer { width: 32%; }

.brow__content__module { position: absolute; }

@media all and (max-width: 1280px) { #brow__content { width: 90%; } }
.content__heading brow-icon { margin-right: 10px; transform: translateY(-1px); }

.content__overlay { position: fixed; top: 0; left: 0; opacity: 0; display: none; z-index: 3; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2); animation-name: fadeInOverlay; animation-duration: 150ms; animation-fill-mode: forwards; animation-timing-function: ease-in-out; }
.content__overlay.show { opacity: 1; display: block; }

/* DIALOG */
.settings__theme { list-style: none; margin-bottom: 10px; }
.settings__theme li { width: 86px; height: 86px; margin-right: 11px; margin-bottom: 15px; display: inline-block; cursor: pointer; border-radius: 2px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24); transition: all 150ms ease-in-out; position: relative; }
.settings__theme li:hover { box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.48); transform: translateY(-2px); }
.settings__theme li:hover:before { transform: translateX(-50%) translateY(-2px); }
.settings__theme li:before { display: block; content: ""; width: 25px; height: 25px; border-radius: 50%; position: absolute; bottom: -12.5px; left: 50%; transform: translateX(-50%); background: #000000; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24); transition: all 150ms ease-in-out; }
.settings__theme li[data-settings-theme="blue-a400"] { background: #448aff; }
.settings__theme li[data-settings-theme="blue-a400"]:hover { background: #2979ff; }
.settings__theme li[data-settings-theme="blue-a400"]:before { background: #f44336; }
.settings__theme li[data-settings-theme="pink-400"] { background: #ec407a; }
.settings__theme li[data-settings-theme="pink-400"]:hover { background: #e91e63; }
.settings__theme li[data-settings-theme="pink-400"]:before { background: #00bcd4; }
.settings__theme li[data-settings-theme="teal-400"] { background: #26a69a; }
.settings__theme li[data-settings-theme="teal-400"]:hover { background: #009688; }
.settings__theme li[data-settings-theme="teal-400"]:before { background: #e91e63; }
.settings__theme li[data-settings-theme="indigo-400"] { background: #5c6bc0; }
.settings__theme li[data-settings-theme="indigo-400"]:hover { background: #3f51b5; }
.settings__theme li[data-settings-theme="indigo-400"]:before { background: #e91e63; }
.settings__theme li[data-settings-theme="red"] { background: #f44336; }
.settings__theme li[data-settings-theme="red"]:hover { background: #e53935; }
.settings__theme li[data-settings-theme="red"]:before { background: #2979ff; }

.content__time .dialog__content { padding: 0 20px 20px 40px; }

.content__time__list { list-style: none; }
.content__time__list li { margin-bottom: 20px; }

/* FOOTER */
#brow__footer { position: fixed; bottom: 0; left: 0; right: 0; z-index: 2; height: 100px; width: 100%; }

#footer__add { position: absolute; z-index: 1; top: 50%; left: 50%; width: 56px; height: 55px; transform: translate(-50%, -50%); }
#footer__add[data-tooltip]:before { width: 150%; }
#footer__add.editmode { cursor: not-allowed; opacity: 0.6; }

.footer__select { position: relative; width: 0%; height: 100%; margin: 0 auto; z-index: 2; transform: translateY(100%); transition: width 150ms ease-in-out; }
.footer__select.show { transition: width 150ms ease-in-out 150ms; transform: translateY(0%); width: 100%; }
.footer__select.show ul { opacity: 1; }
.footer__select.hide { width: 0%; }
.footer__select.hide ul { opacity: 0; }
.footer__select ul { opacity: 0; transition: opacity 150ms ease-in-out 150ms; }

.footer__select__list { list-style: none; width: 90px; height: 32px; margin: 0 auto; position: relative; top: 50%; transform: translateY(-50%); }
.footer__select__list [data-tooltip-identifier="textcard"]:before { width: 500%; }
.footer__select__list [data-tooltip-identifier="weathercard"]:before { width: 450%; }
.footer__select__list li { position: relative; display: inline-block; margin-right: 20px; width: 32px; height: 32px; }
.footer__select__list li:last-child { margin-right: 0; }
.footer__select__list svg { fill: white; }

/*# sourceMappingURL=main.unprefixed.css.map */
