.btn {
	background: transparent;
	border: none;
	padding: 0;
	display: inline-block;
	text-transform: uppercase;
	transition: all 150ms ease-in-out;
	font-size: 14px;
	font-weight: 400;

	&:focus { outline: none; }

	svg { fill: $white; }
}