<!-- Headings -->
<header class="dialog__heading">
	<h3>About</h3>
	<button role="button" class="btn btn--text dialog__close">Close</button>
</header><!-- /Headings -->

<!-- Content -->
<div class="dialog__content">
	<h4>What happens to my data?</h4>
	<p>
		Your data is saved locally in your current browser through the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API/Using_the_Web_Storage_API" target="_blank">localStorage API</a>. 
		No cookies are in use nor will your data be uploaded somewhere.
		<br><br>
		That means you have full power about your data. If you want to delete or just review everything,
		open the <span>Chrome Developer Tools</span> and go to the <span>Resources</span> tab. Under <span>Local Storage</span> you can see all your saved data.
	</p>
	<h4>Contribution</h4>
	<p>
		You've suggestions or just want to contribute?
		<br>
		This project is Open Source; just go the public <a>Github Repository</a>.
	</p>
	<h4>Changelog</h4>
	<span>List will be updated in future.</span>
	<h4>Made by</h4>
	<a href="http://www.morkro.de" target="_blank">Moritz Kröger</a>
</div><!-- /Content -->