<!-- Headings -->
<header class="dialog__heading">
	<h3>Settings</h3>
	<button role="button" class="btn btn--text dialog__close">Close</button>
</header><!-- /Headings -->

<!-- Content -->
<div class="dialog__content">
	<!-- Theme -->
	<div class="dialog__content__theme active">
		<h4>Color scheme</h4>
		<ul class="settings__theme">
			<li data-settings-theme="blue-a400"></li>
			<li data-settings-theme="pink-400"></li>
			<li data-settings-theme="teal-400"></li>
			<li data-settings-theme="indigo-400"></li>
			<li data-settings-theme="red"></li>
		</ul>
		<h4>Layout</h4>
		<span>More settings are coming.</span>
	</div><!-- /Theme -->
</div><!-- /Content -->