<!DOCTYPE html>
<html lang="en">
<head>
	<title>New Tab</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
	<link rel="import" href="card-base.html">
</head>
<body>
	<!-- Dashboard Header -->
	<header id="brow__header">
		<!-- Navigation -->
		<nav class="header__nav">
			<ul>
				<!-- About -->
				<li>
					<button class="btn header__about open-dialog" data-dialog="about">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path d="M0 0h24v24h-24z" fill="none"/>
							<path d="M12 2c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm1 15h-2v-6h2v6zm0-8h-2v-2h2v2z"/>
						</svg>
					</button>
				</li>
				<!-- Settings -->
				<li>
					<button class="btn header__settings open-dialog" data-dialog="settings">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path d="M0 0h24v24h-24z" fill="none"/>
							<path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65c-.03-.24-.24-.42-.49-.42h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-7.43 2.52c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
						</svg>
					</button>
				</li>
			</ul>
		</nav>
		<!-- Timer -->
		<div class="header__timer">
			<h1 class="trigger-timer">00:00:00</h1>
		</div>
	</header><!-- /Dashboard Header -->

	<!-- Dashboard Content -->
	<main id="brow__content" class="trigger-content" role="main" data-column="3">
		<div class="content__overlay"></div>
	</main><!-- /Dashboard Content -->

	<!-- Settings -->
	<div id="brow__dialog" class="trigger-dialog">
		<section class="dialog__inner module module--longshadow clearfix"></section>
	</div><!-- /Settings -->

	<!-- Dashboard Overlay -->
	<div id="brow__overlay"></div>

	<!-- Dashboard Footer -->
	<footer id="brow__footer">
		<!-- Select card type -->
		<div class="footer__select colored-bg trigger-cardlist">
			<ul class="footer__select__list">
				<li data-tooltip="Add a simple card" data-tooltip-pos="top">
					<button class="btn trigger-newcard" data-create-card="basic">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
							<path d="M0 0h24v24h-24z" fill="none"/>
							<path d="M17 10h-10v2h10v-2zm2-7h-1v-2h-2v2h-8v-2h-2v2h-1c-1.11 0-1.99.9-1.99 2l-.01 14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-11h14v11zm-5-5h-7v2h7v-2z"/>
						</svg>
					</button>
				</li>
				<li data-tooltip="Add a weather card" data-tooltip-pos="top">
					<button class="btn trigger-newcard" data-create-card="weather">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
							<path d="M0 0h24v24h-24z" fill="none"/>
							<path d="M6.76 4.84l-1.8-1.79-1.41 1.41 1.79 1.79 1.42-1.41zm-2.76 5.66h-3v2h3v-2zm9-9.95h-2v2.95h2v-2.95zm7.45 3.91l-1.41-1.41-1.79 1.79 1.41 1.41 1.79-1.79zm-3.21 13.7l1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4zm2.76-7.66v2h3v-2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-1 16.95h2v-2.95h-2v2.95zm-7.45-3.91l1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8z"/>
						</svg>
					</button>
				</li>
			</ul>
		</div><!-- /Select card type -->

		<!-- Button -->
		<button id="footer__add" class="btn btn--round trigger-selection">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<path d="M19 13h-6v6h-2v-6h-6v-2h6v-6h2v6h6v2z"/>
				<path d="M0 0h24v24h-24z" fill="none"/>
			</svg>
		</button><!-- /Button -->
	</footer><!-- /Dashboard Footer -->

	<!-- Scripts -->
	<script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>