#brow__content {
	position: relative;
	max-width: $max-width;
	padding: 0;
	width: 90%;
	height: auto; //calc(100vh - 120px);
	margin: 60px auto;
	transition: width 150ms ease-in-out;
	z-index: z($modals, content);
}

.brow__content--gutter {
	width: 2%;
}

.brow__content__module {
	position: absolute;
	width: 18.4%; // I actually have no clue why this is the magic number here.

	&[data-module-width="1"] { width: 32%; }
	&[data-module-width="2"] { width: 64%; }
	&[data-module-width="3"] { width: 96%; }
}

@media #{$max-desktop} {
	#brow__content { width: 95%; }
}