#brow__content {
	position: relative;
	max-width: $max-width;
	padding: 0;
	width: 90%;
	height: auto; //calc(100vh - 120px);
	margin: 60px auto;
	transition: width 150ms ease-in-out;
	z-index: z($modals, content);
}

.brow__content__module {
	position: absolute;
	width: 32%;

	&[data-module-width="1"] { width: 32%; }
	&[data-module-width="2"] { width: 64%; }
	&[data-module-width="3"] { width: 96%; }

	&[data-module-column="1"] { left: 0; }
	&[data-module-column="2"] { left: 34%; }
	&[data-module-column="3"] { right: 0; }
}

@media #{$max-desktop} {
	#brow__content { width: 95%; }
}