#brow__content {
	position: relative;
	max-width: $max-width;
	padding: 0;
	width: 90%;
	height: auto;
	margin: 60px auto 0 auto;
	transition: all 150ms ease-in-out;
	z-index: z($modals, content);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	&[data-column="3"] {
		/*card-base { width: calc(100% / 3 - 17px); }
		card-base:nth-of-type(3n) { margin-right: 0; }*/
		[data-module-type] { flex-basis: 31%; }
	}

	&[data-column="4"] {
		/*card-base { width: calc(100% / 4 - 25px); }
		card-base:nth-of-type(4n) { margin-right: 0; }*/
		[data-module-type] { flex-basis: 23%; }
	}
}

@media #{$max-desktop} {
	#brow__content { width: 95%; }
}