.content__overlay {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	display: none;
	z-index: z($content, overlay);
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .2);
	animation-name: fadeInOverlay;
	animation-duration: 100ms;
	animation-timing-function: $easeInOut;
	transition: opacity 100ms $easeInOut;

	&.is-visible {
		opacity: 1;
		display: block;
	}

	&.is-fading {
		opacity: 0;
	}
}