#brow__dialog {
	position: fixed;
	z-index: z($modals, dialog);
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	padding: 64px 0;
	align-items: flex-start;
	justify-content: center;
	display: flex;
	transform: translateY(-100%);
	transition: transform 150ms $easeInOut;

	.dialog-is-visible & {
		transform: translateY(0);
	}
}

.dialog__inner {
	position: relative;
	width: 100%;
	height: 0;
	padding: 0 15vw;
	transition: height 0ms;
	transition-delay: 250ms;

	.dialog-is-visible & {
		height: auto;
	}
}