#brow__dialog {
	position: fixed;
	z-index: z($modals, dialog);
	top: 0;
	right: 0; 
	width: 100vw;
	height: 0;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	display: flex;
	transition: all 150ms $easeInOut;

	.dialog-is-visible & {
		height: 100vh;
	}
}

.dialog__inner {
	position: relative;
	width: 70vw;
	height: 0;
	transition: height 0ms;
	transition-delay: 250ms;
	overflow-y: hidden;

	.dialog-is-visible & {
		height: 50vh;
	}
}