.dialog__heading {
	width: 100%;
	color: $white;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;

	h1 {
		font-weight: 400;
		font-size: 48px;
	}

	button {
		align-self: center;
	}
}