.brow__content__module {
	position: relative;
	z-index: z($content, cards);
	transition: box-shadow 150ms $easeInOut;

	&.fx {
		transition: box-shadow 150ms $easeInOut, transform 150ms $easeInOut;
	}

	// Controls should be above all other cards.
	&:hover { z-index: z($content, cardshover); }

	&.is-edit {
		//z-index: z($content, editmode);
		z-index: 10;
		transform: translateY(-5px);
		box-shadow: $shadow-z4;
	}

	&.is-dragging {
		z-index: z($content, editmode);
		box-shadow: $shadow-z4;
		cursor: -webkit-grabbing;
	}

	&.is-delete {
		transition: opacity 150ms $easeInOut, transform 150ms $easeInOut 150ms;
		transform: scale(0);

		> * { opacity: 0; }
	}
}

.module--longshadow {
	box-shadow: $shadow-z4;
}

/**
 * ANIMATION
 */
@keyframes cardSlideIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}