card-base, text-card, weather-card {
	position: relative;
	z-index: z($content, cards);
	margin-bottom: 25px;
	transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out;

	&.editmode {
		z-index: z($content, editmode);
		transform: translateY(-5px);
		box-shadow: $shadow-z4;
	}

	&.deletemode {
		transition: opacity 150ms ease-in-out, transform 150ms ease-in-out 150ms;
		transform: scale(0);

		> * { opacity: 0; }
	}
}

.module--longshadow {
	box-shadow: $shadow-z4;
}