card-base[data-module-type="basic"] {
	p {
		transition: all 150ms ease-in-out;

		&:focus, &:read-write:hover { 
			outline: none; 
			background: $grey-200;
			color: rgba(0, 0, 0, .7);
		}

		&:empty:not(:focus):after {
			cursor: text;
			content: attr(data-basic-preview);
			font-style: italic;
			color: $grey;
		}
	}
}