.module__heading {
	padding: 20px;
	position: relative;
}

card-base h1 {
	margin-right: 10px;

	&:read-write:focus,
	&:read-write:hover { 
		outline: none; 
		border-radius: 2px;
		background: $grey-200;
		color: rgba(0, 0, 0, .7);
	}
}