.settings__theme {
	list-style: none;

	li:last-child {
		padding-left: 5px;
	}

	[data-settings-theme] {
		width: 16%;
		height: 50px;
		margin-right: 3%;
		margin-bottom: 25px;
		display: inline-block;
		cursor: pointer;
		border-radius: 2px;
		box-shadow: $shadow-btn;
		transition: all 150ms $easeInOut;
		position: relative;

		&:hover {
			box-shadow: $shadow-z2;
			transform: translateY(-2px);
		}
	}

	// BLUE
	[data-settings-theme="blue-a400"] {
		background: $blue-a200;
		&:hover { background: $blue-a400; }
		
		.theme-blue-a400 & {
			cursor: default;
			box-shadow: $shadow-btn-inset;
			transform: none;
			&:hover { box-shadow: $shadow-btn-inset; }
		}
	}
	// PINK
	[data-settings-theme="pink-400"] {
		background: $pink-400;
		&:hover { background: $pink; }
		
		.theme-pink-400 & {
			cursor: default;
			box-shadow: $shadow-btn-inset;
			transform: none;
			&:hover { box-shadow: $shadow-btn-inset; }
		}
	}
	// TEAL
	[data-settings-theme="teal-400"] {
		background: $teal-400;
		&:hover { background: $teal; }
		
		.theme-teal-400 & {
			cursor: default;
			box-shadow: $shadow-btn-inset;
			transform: none;
			&:hover { box-shadow: $shadow-btn-inset; }
		}
	}
	// INDIGO
	[data-settings-theme="indigo-400"] {
		background: $indigo-400;
		&:hover { background: $indigo; }
		
		.theme-indigo-400 & {
			cursor: default;
			box-shadow: $shadow-btn-inset;
			transform: none;
			&:hover { box-shadow: $shadow-btn-inset; }
		}
	}
	// RED
	[data-settings-theme="red"] {
		background: $red;
		&:hover { background: $red-600; }
		
		.theme-red & {
			cursor: default;
			box-shadow: $shadow-btn-inset;
			transform: none;
			&:hover { box-shadow: $shadow-btn-inset; }
		}
	}
}