.footer__select {
	position: relative;
	width: 60px;
	height: auto;
	margin: 0 auto;
	padding-bottom: 65px;
	z-index: z($footer, selection);
	bottom: -80px;
	opacity: 0;
	transform: translateY(0);
	transition-delay: 250ms;
}

.footer__select__list {
	list-style: none;
	width: 56px;
	height: auto;
	margin: 0 auto;

	li {
		display: inline-block;
		margin-bottom: 10px;
		width: 56px;
		height: 56px;
		opacity: 0;
		transition: opacity 150ms $easeInOutQuint, transform 150ms $easeInOutQuint;

		&:before {
			opacity: 0;
			transition-duration: 100ms;
		}

		&:last-child { margin-bottom: 0; }
	}

	@for $i from length($cardCount) through 1 {
		li:nth-of-type(#{$i}) {
			transform: translateY((length($cardCount) - $i + 1) * 118%);
			transition-delay: (length($cardCount) - $i + 1) * 30ms;
			&:before { transition-delay: (length($cardCount) - $i + 1) * 50ms; }
		}
	}

	.btn {
		&:hover {
			background-color: $orange;
		}
	}

	svg { fill: white; }
}