/*
 * TOOLTIP
 */
[data-tooltip] {
	&:before {
		opacity: 0;
		display: inline-block;
		content: attr(data-tooltip);
		text-align: center;
		width: auto;
		height: 24px;
		padding: 0 10px;
		position: absolute;
		left: 50%;
		background: rgba(0, 0, 0, .54);
		border-radius: 2px;
		color: white;
		line-height: 22px;
		text-transform: initial;
		font-size: 14px;
		white-space: nowrap;
		transition: opacity 150ms $easeInOut 0s;
	}

	&:hover:before {
		opacity: 1;
		transition: opacity 150ms $easeInOut;
	}
}