.settings__theme {
	list-style: none;
	margin-bottom: 10px;

	li {
		width: 86px;
		height: 86px;
		margin-right: 11px;
		margin-bottom: 15px;
		display: inline-block;
		cursor: pointer;
		border-radius: 2px;
		box-shadow: $shadow-base;
		transition: all 150ms $easeInOut;
		position: relative;

		&:hover {
			box-shadow: $shadow-z2;
			transform: translateY(-2px);
			&:before { transform: translateX(-50%) translateY(-2px); }
		}

		&:before {
			display: block;
			content: "";
			width: 25px;
			height: 25px;
			border-radius: 50%;
			position: absolute;
			bottom: -12.5px;
			left: 50%;
			transform: translateX(-50%);
			background: $black;
			box-shadow: $shadow-base;
			transition: all 150ms $easeInOut;
		}

		&[data-settings-theme="blue-a400"] {
			background: $blue-a200;
			&:hover { background: $blue-a400; }
			&:before { background: $red; }
		}
		&[data-settings-theme="pink-400"] {
			background: $pink-400;
			&:hover { background: $pink; }
			&:before { background: $cyan; }
		}
		&[data-settings-theme="teal-400"] {
			background: $teal-400;
			&:hover { background: $teal; }
			&:before { background: $pink; }
		}
		&[data-settings-theme="indigo-400"] {
			background: $indigo-400;
			&:hover { background: $indigo; }
			&:before { background: $pink; }
		}
		&[data-settings-theme="red"] {
			background: $red;
			&:hover { background: $red-600; }
			&:before { background: $blue-a400; }
		}
	}
}