/**
 * PAGE SETTINGS
 */
$max-width:		1280px;
$margin-base:	30px;
$padding-base:	15px;

/**
 * SHADOWS
 */
$shadow-base:			0 1px 3px rgba(0, 0, 0, .24);
$shadow-btn:			0 3px 10px rgba(0, 0, 0, .48);
$shadow-btn-inset:	inset 0 3px 10px rgba(0, 0, 0, .48);
$shadow-z4:				0 0 14px rgba(0, 0, 0, .24), 0 14px 28px rgba(0, 0, 0, .48);
$shadow-z2:		 		0px 8px 17px rgba(0, 0, 0, 0.48);

/**
 * MEDIA QUERIES
 */
$max-mobile:	"all and (max-width: 768px)";
$max-desktop:	"all and (max-width: 1280px)";

/**
 * TRANSITIONS
 */
$easeInOut:			ease-in-out;
$easeInOutQuint:	cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutQuart:	cubic-bezier(0.77, 0, 0.175, 1);

/**
 * Z-INDEX
 */
$modals: content, footer, overlay, dialog, header, snackbar;
$content: cards, cardshover, overlay, editmode;
$footer: selection, button;

/**
 * AVAILABLE CARDS
 */
$cardCount: textcard, weathercard, todocard, notifycard;