.dialog__content {
	padding: 20px;

	h4 {
		margin-bottom: 20px;

		&:not(:first-of-type) { 
			margin-top: 20px; 
		}
	}

	span {
		font-style: italic;
		color: $grey;
	}

	a:hover { text-decoration: underline; }
}