.dialog__content {
	padding: 20px;

	h2 {
		margin-bottom: 20px;
	}

	span {
		font-style: italic;
		color: $grey;
	}

	section:not(:last-of-type) {
		margin-bottom: 40px;
	}

	a:hover { text-decoration: underline; }
}