.dialog__sidebar {
	border-right: 1px solid $grey-300;
}

.dialog__sidebar__list {
	list-style: none;

	a {
		display: block;
		width: 100%;
		padding: 15px 20px;
		transition: all 150ms ease-in-out;

		&:hover {
			background: $grey-200;
		}
	}

	a.active {
		color: $black;
		cursor: default;

		&:hover { background: rgba(0, 0, 0, .025); }
	}
}