/**
 * SYSTEM
 * ==============================
 *
 * General
 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background: $grey-200;
	height: 100%;
}

body {
	font-family: $Roboto;
	font-weight: 300;
	color: $black;
	-webkit-font-smoothing: antialiased;
}

/**
 * Headlines
 */
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	margin: 0px;
}

h1 { font-size: 24px; }
h2 { 
	font-size: 22px; 
	font-weight: 200;
}
h3 { font-size: 18px;}
h4 { 
	font-weight: 400; 
	font-size: 15px;
}

/**
 * Links
 */
a {
	font-size: 15px;
	text-decoration: none;

	&[target="_blank"]:after {
		content: "";
		display: inline-block;
		width: 14px;
		height: 14px;
		margin-left: 2px;
		transform: translateY(2px);
		background-image: url(../assets/icons/newwindow.svg);
		opacity: 0.6;
	}

	&[data-href="twitter"]:after {
		background-image: url(../assets/icons/twitter.svg);
	}
}

/**
 * Copy
 */
p, span {
	font-weight: 300;
	line-height: 24px;
	font-size: 16px;
}

b, strong {
	font-weight: 400;
}

/**
 * Images
 * This is experimental and not fully supported in most browsers.
 * Anyway, I want to test this feature.
 */
img[src$=".jpg"], img[src$=".png"] {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}

/**
 * Forms
 */
label {
	cursor: pointer;
	position: relative;
	transition: all 150ms $easeInOut;
}

input[type="checkbox"] {
	margin-right: 20px;
	visibility: hidden;

	& + label:before {
		content: "";
		position: absolute;
		width: 14px;
		height: 14px;
		left: -40px;
		top: 1px;
		color: $white;
		border: 2px solid $grey-700;
		border-radius: 2px;
		background: white;
		font-size: 14px;
		line-height: 14px;
		transition: all 150ms $easeInOut;

		.colored-bg & { 
			background: transparent;
			border-color: $white;
			color: $grey-700; 
		}
	}

	&[disabled] + label {
		color: $grey-400;
		cursor: not-allowed;
		
		&:before { border-color: $grey-400; }

		.colored-bg & { color: rgba(255,255,255,.4); }
		.colored-bg &:before { border-color: rgba(255,255,255,.4); }
	}

	&:checked + label:before {
		content: "✔";
		padding-left: 1px;
		width: 13px;
		border-color: $teal;
		background: $teal;

		.colored-bg & { 
			background: $white;
			border-color: $white;
		}
	}
}