// Blue
.theme-blue-a400 {
	a { color: $blue-a400; }

	.colored-bg-opposite a,
	.colored-bg a { color: white; }

	.colored-bg-opposite { background-color: $red; }
	.colored-bg { background-color: $blue-a400; }
}

// Indigo
.theme-indigo-400 {
	a { color: $indigo-400; }

	.colored-bg-opposite a,
	.colored-bg a { color: white; }

	.colored-bg-opposite { background-color: $pink; }
	.colored-bg { background-color: $indigo-400; }
}

// Teal
.theme-teal-400 {
	a { color: $teal-400; }

	.colored-bg-opposite a,
	.colored-bg a { color: white; }

	.colored-bg-opposite { background-color: $pink; }
	.colored-bg { background-color: $teal-400; }
}

// Pink
.theme-pink-400 {
	a { color: $pink-400; }

	.colored-bg-opposite a,
	.colored-bg a { color: white; }

	.colored-bg-opposite { background-color: $cyan; }
	.colored-bg { background-color: $pink-400; }
}

// Red
.theme-red {
	a { color: $red; }

	.colored-bg-opposite a,
	.colored-bg a { color: white; }

	.colored-bg-opposite { background-color: $blue-a400; }
	.colored-bg { background-color: $red; }
}