/**
 * PAGE SETTINGS
 */
$max-width:		1280px;

/**
 * General margins/paddings
 */
$margin-base:	30px;
$padding-base:	15px;

/**
 * Shadows
 */
$shadow-base:			0 1px 3px rgba(0, 0, 0, .24);
$shadow-btn:			0 3px 10px rgba(0, 0, 0, .48);
$shadow-btn-inset:	inset 0 3px 10px rgba(0, 0, 0, .48);
$shadow-z4:				0 0 14px rgba(0, 0, 0, .24), 0 14px 28px rgba(0, 0, 0, .48);
$shadow-z2:		 		0px 8px 17px rgba(0, 0, 0, 0.48);