#brow-content {
	position: relative;
	max-width: $max-width;
	padding: 0;
	width: 90%;
	height: auto; //calc(100vh - 120px);
	margin: 64px auto;
	transition: width 150ms $easeInOut;
	//z-index: z($modals, content);

	.theme-headerbar & {
		margin: 100px auto;
	}
}

.brow-content--gutter {
	width: 1.25%;
}

.brow-content__module,
.brow-content--sizer {
	width: 32%;
}

.brow-content__module {
	position: absolute;
}

@media #{$max-desktop} {
	#brow-content { width: 90%; }

	.brow-content__module,
	.brow-content--sizer {
		width: 48%;
	}
}

@media #{$max-mobile} {
	.brow-content__module,
	.brow-content--sizer {
		width: 100%;
	}
}