<template id="card-base">
	<style>
		* { box-sizing: border-box; }
		:host { display: block; }
		.module  {
			position: relative;
			background: white;
			display: block;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
			border-radius: 2px;
			width: 100%;
		}
		.module__settings { 
			opacity: 0;
			transition: all 150ms ease-in-out;
			position: absolute;
			z-index: 100;
			top: 16px;
			right: -24px;
			width: 48px;
			padding: 0;
			list-style: none;
			margin: 0;
		}
			section:hover .module__settings { 
				opacity: 1;
			}
		.module__settings li {
			width: 48px; 
			height: 48px; 
			margin-bottom: 10px; 
			background: white; 
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24); 
			border-radius: 50%;
		}
			.module__settings li:last-child { 
				border-top: 1px solid rgba(0, 0, 0, .1); 
			}
		.module__settings button { 
			background: none; 
			border: none; 
			cursor: pointer; 
			height: 100%; 
			width: 100%; 
			margin: 0; 
			padding: 0; 
		}
			.module__settings button:hover svg { 
				fill-opacity: 1; 
			}
			.module__settings button:active, 
			.module__settings button:focus { 
				outline: none; 
			}
		:host-context(.is-edit) .hidden { 
			display: block; 
		}
		.hidden,
		:host-context(.is-edit) [data-settings="edit"] { 
			display: none; 
		}
		.dragg-area {
			position: absolute;
			z-index: 99;
			cursor: -webkit-grab;
		}
			:host-context(.is-edit) .dragg-area,
			:host-context(.is-pointer-down.is-edit) .dragg-area  {
				cursor: default;
			}
			:host-context(.is-pointer-down) .dragg-area,
			:host-context(.is-dragging) .dragg-area {
				cursor: -webkit-grabbing;		
			}
			.dragg-area[data-position="top"],
			.dragg-area[data-position="bottom"] {
				width: 100%;
				height: 20px;
			}
			.dragg-area[data-position="left"],
			.dragg-area[data-position="right"] {
				width: 20px;
				height: 100%;
			}
			.dragg-area[data-position="top"],
			.dragg-area[data-position="left"] {
				top: 0;
				left: 0;
			}
			.dragg-area[data-position="right"],
			.dragg-area[data-position="bottom"] {
				bottom: 0;
				right: 0;
			}
	</style>
	<section class="module">
		<ul class="module__settings">
			<li data-settings="edit">
				<button class="settings__edit">
					<brow-icon icon="edit"></brow-icon>
				</button>
			</li>
			<li class="hidden" data-settings="save">
				<button class="settings__save">
					<brow-icon icon="save"></brow-icon>
				</button>
			</li>
			<li data-settings="remove">
				<button class="settings__remove">
					<brow-icon icon="remove"></brow-icon>
				</button>
			</li>
		</ul>
		<content></content>
		<div class="dragg-area" data-position="top"></div>
		<div class="dragg-area" data-position="right"></div>
		<div class="dragg-area" data-position="bottom"></div>
		<div class="dragg-area" data-position="left"></div>
	</section>
</template>
<script type="text/javascript" src="../scripts/card-base.js"></script>