<template id="weather-card">
	<style>
		:host { 
			position: relative;
		}
		:host /deep/ .module { 
			background: #448aff;
			color: white;
			min-height: 156px;
			transition: background 150ms ease-in-out;
		}
		/* Loader */
		:host-context([loading]) .weather__loading {
			display: flex;
		}
		:host-context(.is-edit) .weather__settings {
			display: block;
		}
		.weather__loading {
			background: #448aff;
			display: none;
			position: absolute;
			border-radius: 2px;
			z-index: 1;
			width: 100%;
			height: 100%;
			top: 0; bottom: 0;
			left: 0; right: 0;
			align-items: center;
			justify-content: center;
		}
		/* Settings */
		.weather__settings {
			display: none;
			background: inherit;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		/* Night */
		:host-context([time="night"]) /deep/ .module,
		:host-context([time="night"]) .weather__loading { background: #616161; }
		/* Cloudy */
		:host-context([weather="clouds"]) /deep/ .module,
		:host-context([weather="clouds"]) .weather__loading { background: #448aff; }
		/* Sunny */
		:host-context([weather="sunny"]) /deep/ .module,
		:host-context([weather="clear"]) /deep/ .module,
		:host-context([weather="sunny"]) .weather__loading,
		:host-context([weather="clear"]) .weather__loading { background: #ff9800; }
		/* Snowy */
		:host-context([weather="snowy"]) /deep/ .module,
		:host-context([weather="snowy"]) .weather__loading { background: silver; }
		.weather__temperature {
			position: absolute;
			top: 22px;
			right: 20px;
		}
		::content .weather__degrees {
			font-size: 28px;
			font-weight: 300;
		}
		.weather__location {
			padding: 20px;
		}
		::content brow-icon {
			width: 42px;
			height: 42px;
			margin-bottom: 15px;
		}
			::content brow-icon /deep/ svg {
				width: 42px;
				height: 42px;
			}
		::content .weather__city {
			margin-bottom: 5px;
			font-weight: 400;
			font-size: 26px;
			width: calc(100% - 40px);
			display: inline-block;
		}
		::content .weather__place {
			font-size: 18px;
			color: rgba(255, 255, 255, .75);
			width: calc(100% - 40px);
			display: inline-block;
		}
	</style>
	<card-base>
		<div class="weather__settings">
			<ul>
				<li>
					<input type="checkbox" id="degrees--celsius" checked>
					<label for="degrees--celsius">Celsius °C</label>
				</li>
				<li>
					<input type="checkbox" id="degrees--fahrenheit">
					<label for="degrees--fahrenheit">Fahrenheit °F</label>
				</li>
			</ul>
		</div>
		<div class="weather__loading">
			<brow-icon icon="loader"></brow-icon>
		</div>

		<div class="weather__temperature">
			<content select=".weather__degrees"></content>
		</div>

		<div class="weather__location">
			<content select="brow-icon"></content>
			<content select=".weather__city"></content>
			<content select=".weather__place"></content>
		</div>
	</card-base>
</template>
<script type="text/javascript" src="../scripts/weather-card.js"></script>