<!-- Headings -->
<header class="dialog__heading">
	<h1>About</h1>
	<button role="button" class="btn btn--text dialog__close">Close</button>
</header><!-- /Headings -->

<!-- Content -->
<div class="dialog__content">
	<section><!-- Data -->
		<h2 class="content__heading">
			<img src="/assets/icons/memory.svg">
			What happens to my data?
		</h2>
		<p>
			Your data is saved locally in your current browser through the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API/Using_the_Web_Storage_API" target="_blank">localStorage API</a>. 
			No cookies are in use nor will your data be uploaded somewhere.
			<br><br>
			That means you have full power about your data. If you want to delete or just review everything,
			open the <span>Chrome Developer Tools</span> and go to the <span>Resources</span> tab. Under <span>Local Storage</span> you can see all your saved data.
		</p>
	</section><!-- /Data -->
	<section><!-- Contribution -->
		<h2 class="content__heading">
			<img src="/assets/icons/gift.svg">
			Contribution
		</h2>
		<p>
			You've suggestions or just want to contribute?
			<br>
			This project is Open Source; just go the public <a href="https://github.com/morkro/BrowDash" target="_blank">Github Repository</a>.
		</p>
	</section><!-- /Contribution -->
	<section><!-- Changelog -->
		<h2 class="content__heading">
			<img src="/assets/icons/file_document.svg">
			Changelog
		</h2>
		<span>List will be updated in future.</span>
	</section><!-- /Changelog -->
	<section><!-- Creator -->
		<h2 class="content__heading">
			<img src="/assets/icons/heart_outline.svg">
			Made by
		</h2>
		<a href="http://www.morkro.de" target="_blank">Moritz Kröger</a>
	</section><!-- /Creator -->
</div><!-- /Content -->