<!-- Headings -->
<header class="dialog__heading">
	<h1>Settings</h1>
	<button role="button" class="btn btn--text dialog__close">Close</button>
</header><!-- /Headings -->

<!-- Content -->
<div class="dialog__content">
	<!-- Theme -->
	<section class="dialog__content__theme">
		<h2 class="content__heading">
			<img src="/assets/icons/color_lens.svg">
			Color scheme
		</h2>
		<ul class="settings__theme">
			<li data-settings-theme="blue-a400"></li>
			<li data-settings-theme="pink-400"></li>
			<li data-settings-theme="teal-400"></li>
			<li data-settings-theme="indigo-400"></li>
			<li data-settings-theme="red"></li>
		</ul>
	</section><!-- /Theme -->
	<section><!-- Layout -->
		<h2 class="content__heading">
			<img src="/assets/icons/view_column.svg">
			Layout
		</h2>
		<ul>
			<li><p>3 Columns</p></li>
			<li><p>4 Columns</p></li>
		</ul>
	</section><!-- /Layout -->
</div><!-- /Content -->